<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="<%= I18n.locale %>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:metadata_title).presence || t('.metadata.title') %></title>
    <meta name="description" content="<%= yield(:metadata_description).presence || t('.metadata.description') %>" />
    <meta name="keywords" content="<%= yield(:metadata_keywords).presence || t('.metadata.keywords') %>" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-ng-app="App">
    <%= render 'layouts/top_navbar' %>
    <%= render 'layouts/notice' %>

    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/registration_modal' %>

    <%= javascript_include_tag "application" %>
    <%= render 'layouts/i18n-js' %>
    <%= render 'layouts/google_analytics' %>
    <!-- <%= Rails.env %> -->
  </body>
</html>
